@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
  --color-primary-50: oklch(96.9% 0.016 293.756);
  --color-primary-100: oklch(94.3% 0.029 294.588);
  --color-primary-200: oklch(89.4% 0.057 293.283);
  --color-primary-300: oklch(81.1% 0.111 293.571);
  --color-primary-400: oklch(70.2% 0.183 293.541);
  --color-primary-500: oklch(60.6% 0.25 292.717);
  --color-primary-600: oklch(54.1% 0.281 293.009);
  --color-primary-700: oklch(49.1% 0.27 292.581);
  --color-primary-800: oklch(43.2% 0.232 292.759);
  --color-primary-900: oklch(38% 0.189 293.745);
  --color-primary-950: oklch(28.3% 0.141 291.089);
}

body {
  @apply bg-gray-50 dark:bg-zinc-900;
}

@custom-variant dark (&:where(.dark, .dark *));